@model ITSecurityNewsMonitor.Models.View
@using ITSecurityNewsMonitor.Models

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var highLevelTags = ViewData["HighLevelTags"] as List<HighLevelTag>;
}

<div class="pl-10 pt-10">
    <h1 class="font-bold text-5xl">
        Edit View
    </h1>
    <a href="@Url.Action("Index", "Views")" class="mt-2 link flex">
        <svg width="13px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
        </svg>
        <span class="ml-1">Back to overview</span>
    </a>
</div>

<div class="pl-10 pr-10 pt-5">

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="OwnerID" />

        <div class="d-flex flex-col">
            <div><label asp-for="Name" class="text text-gray-500"></label></div>
            <div><input asp-for="Name" class="rounded border p-1" /></div>
            <div>
                <span asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="pt-5">
            <span class="text text-gray-500">Tags</span><br>
            @if (Model.HighLevelTags.Count() > 0)
            {
                <span>No Tags have been added so far.</span>
            }

            @foreach (HighLevelTag highLevelTag in Model.HighLevelTags)
            {
                <span class="high-level-tag">
                    @highLevelTag.Name

                    <a href="@Url.Action("RemoveTag", "Views", new { id = highLevelTag.ID })" class="underline"></a>
                </span>
            }
        </div>

        <div class="mt-8">
            <input type="submit" value="Save" class="button" />
        </div>

        <div class="text-gray-500 mt-4">Add Tags</div>
        <div class="border rounded p-4">
            <!-- Search  -->
            <!--<div class="w-96">
            <form action="@Url.Action("Edit", "Views")" method="get" class="flex flex-row">
                <input placeholder="Search Articles" class="rounded border p-1" />

                <button>
                    <input type="submit" value="Search" class="button" />

                    <a href="@Url.Action("Edit", "Views")">
                        <button class="ml-1 button">Clear</button>
                    </a>
                </button>
            </form>
        </div>-->
            <!-- Search results  -->
            <div class="mt-4">
                @foreach (HighLevelTag highLevelTag in highLevelTags)
                {
                    <span class="high-level-tag">
                        @highLevelTag.Name
                        <a href="@Url.Action("AddTag", "Views", new { id = highLevelTag.ID})" class="underline">Add</a>
                    </span>
                }
            </div>
        </div>

    </form>
</div>