@model ITSecurityNewsMonitor.Models.View
@using ITSecurityNewsMonitor.Models

@{
    ViewData["Title"] = "Edit View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var highLevelTags = ViewData["HighLevelTags"] as List<HighLevelTag>;
}

<div class="site-header">
    <h1>@ViewData["Title"]</h1>
    <a href="@Url.Action("Index", "Views")">
        <span class="">← Back to Admin Overview</span>
    </a>
</div>

<div class="pl-10 pr-10 pt-5">

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="OwnerID" />

        <div class="d-flex flex-col">
            <div><label asp-for="Name" class="text text-gray-500"></label></div>
            <div><input asp-for="Name" class="rounded border p-1" /></div>
            <div>
                <span asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="pt-5">
            <span class="text text-gray-500">Tags</span><br>
            @if (Model.HighLevelTags.Count() > 0)
            {
                <span>No Tags have been added so far.</span>
            }

            @foreach (HighLevelTag highLevelTag in Model.HighLevelTags)
            {
                <span class="high-level-tag">
                    @highLevelTag.Name

                    <a href="@Url.Action("RemoveTag", "Views", new { id = highLevelTag.ID })" class="underline"></a>
                </span>
            }
        </div>

        <div class="mt-8">
            <input type="submit" value="Save" class="button" />
        </div>

        <div class="text-gray-500 mt-4">Add Tags</div>

        <div class="border rounded p-4">
            <!-- Search  -->
            <!--<div class="w-96">
            <form action="@Url.Action("Edit", "Views")" method="get" class="flex flex-row">
                <input placeholder="Search Articles" class="rounded border p-1" />

                <button>
                    <input type="submit" value="Search" class="button" />

                    <a href="@Url.Action("Edit", "Views")">
                        <button class="ml-1 button">Clear</button>
                    </a>
                </button>
            </form>
        </div>-->
            <!-- Search results  -->
            <div class="mt-4">
                @foreach (HighLevelTag highLevelTag in highLevelTags)
                {
                    <span class="high-level-tag">
                        @highLevelTag.Name
                        <a href="@Url.Action("AddTag", "Views", new { id = highLevelTag.ID})" class="underline">Add</a>
                    </span>
                }
            </div>
        </div>

    </form>
</div>