@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="sticky z-50 -top-0.5 bg-white flex px-10 py-3 pt-5">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="flex overflow-hidden items-center">
            <div class="flex">
                <a href="@Url.Action("Index", "News")" class="flex flex-col justify-center bg-grey-lighter mr-3">
                    <div class="font-bold text-2xl hover:underline">
                        News
                    </div>
                </a>

                <a href="@Url.Action("Index", "Views")" class="flex flex-col justify-center bg-grey-lighter mr-3">
                    <div class="font-bold text-2xl hover:underline">
                        Views
                    </div>
                </a>

                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Index", "Admin")" class="flex flex-col justify-center bg-grey-lighter mr-3">
                        <div class="font-bold text-2xl hover:underline">
                            Admin
                        </div>
                    </a>
                }
            </div>

            @*
                Todo check if this is a good idea :)
            *@
            <div class="pb-0.5 h-8 hidden sm:flex">
                @if (ViewData["Title"].ToString() == "News" && @Model.SelectedView != null)
                {
                    <a href="@Url.Action("Index", "News", new { view = @Model.SelectedView.ID})" id="view-name-in-navbar"
                        class="-mt-0.5 flex flex-col hidden">
                        <span class="mr-1 text-xs mb-0.5">Current view: </span>
                        <div
                            class="truncate sm:w-36 md:w-56 lg:w-auto -mt-2 text-purple-600 text-base font-bold @(Model.SelectedView != null && Model.SelectedView.ID.Equals(@Model.SelectedView.ID) ? "selected" : "") cursor-pointer">
                            @Model.SelectedView.Name
                        </div>
                    </a>
                }
            </div>
        </div>

        <div class="ml-auto flex-shrink-0 flex flex-col md:flex-row pt-2">
            <div class="ml-auto flex-shrink-0 flex">
                <div class="text-gray-400 hover:text-black text-center text-sm">
                    <a class="flex justify-end" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out"
                            class="svg-inline--fa fa-sign-out fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M180 448H96c-53 0-96-43-96-96V160c0-53 43-96 96-96h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H96c-17.7 0-32 14.3-32 32v192c0 17.7 14.3 32 32 32h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm117.9-303.1l77.6 71.1H184c-13.3 0-24 10.7-24 24v32c0 13.3 10.7 24 24 24h191.5l-77.6 71.1c-10.1 9.2-10.4 25-.8 34.7l21.9 21.9c9.3 9.3 24.5 9.4 33.9.1l152-150.8c9.5-9.4 9.5-24.7 0-34.1L353 88.3c-9.4-9.3-24.5-9.3-33.9.1l-21.9 21.9c-9.7 9.6-9.3 25.4.7 34.6z">
                            </path>
                        </svg>
                        <span class="ml-1">
                            Sign out
                        </span>
                    </a>
                </div>
            </div>
            <div class="ml-2 flex-shrink-0 pl-2 flex">
                <div class="text-gray-600 hover:text-black text-center text-sm">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="flex justify-end">
                        <svg width="13px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user"
                            class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
                            </path>
                        </svg>
                        <span class="ml-1">@User.Identity.Name</span>
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        </ul>
    }
</div>
