@model ITSecurityNewsMonitor.ViewModels.NewsDetailsViewModel

<div class="px-5 md_px-10 pt-10">
    <h1 class="font-bold text-5xl">Story</h1>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="mt-2 link flex">
        ← Back to overview
    </a>
</div>
<div class="px-5 md_px-10 mt-10">
    <!-- News -->
    @foreach (News news in Model.NewsGroup.News.OrderByDescending(n => n.CreatedDate))
    {
        LinkViewed linkViewed = news.LinkViewed.Where(lv => lv.OwnerID.Equals(Model.OwnerId)).FirstOrDefault();

        <div class="relative">
            <div class="ml-4 p-8 left-bar">
                <h1 class="text-sm">@news.CreatedDate</h1>
                <span>
                    <h1 class="font-bold text-2xl">
                        <a href="@Url.Action("Trackout", "News", new { newsId = news.ID, link = news.Link })" target="_blank">
                            <span class="font-bold text-2xl">
                                @news.Headline
                            </span>
                        </a>
                    </h1>
                    <span class="text-xs link">
                        <a href="@news.Source.Homepage" target=":_blank" class="link">
                            via @news.Source.Name
                        </a>
                    </span>
                </span>
                <hr class="mt-2 mb-2">
                @news.Summary
                <br>

                @if (news.Tags.Any())
                {
                    <span class="text-xs text-gray-500">Tags</span>
                }
                <br>
                @foreach (Tag tag in news.Tags)
                {
                    <span class="low-level-tag">
                        @tag.Name
                    </span>
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
    </script>
}
