@model ITSecurityNewsMonitor.ViewModels.NewsIndexViewModel

<div class="px-10 pt-10 flex">
    <h1 class="font-bold text-5xl">News</h1>
</div>

<div class="sticky z-50 top-14 bg-white px-10 pt-4 flex">
    <!-- All -->
    <a href="@Url.Action("Index", "News")">
        <div class="view-tab @(Model.SelectedView == null ? "selected" : "") cursor-pointer w-24">All</div>
    </a>

    <!-- Tabs -->
    @foreach (View view in Model.Views)
    {
        <a href="@Url.Action("Index", "News", new { view = view.ID})">
            <div class="view-tab @(Model.SelectedView != null && Model.SelectedView.ID.Equals(view.ID) ? "selected" : "") cursor-pointer">
                @view.Name
            </div>
        </a>
    }

    <!-- New -->
    <div class="mr-3 p-3 rounded-t-xl cursor-pointer font-bold hover:text-purple-500">
        <a href="@Url.Action("Create", "Views")">
            +
        </a>
    </div>

    <!-- Search -->
    <div class="ml-auto mt-2">
        <form method="get">
            <input type="text" name="search" class="rounded border p-1" value="@(Model.Search == null ? "" : Model.Search)" />
            <input type="submit" value="Search" class="button" />
        </form>
    </div>
</div>
<div class="sticky z-30 top-28 pt-4 px-10 bg-white pb-2 flex">
    <div class="">
        <button>
            Sort by
        </button>
    </div>

    <div class="ml-auto flex">
        <a href="@Url.Action("Index", "News", new { page = Model.Page > 1 ? Model.Page - 1 : 1, search = Model.Search, view = Model.SelectedView?.ID })" class="ml-2 mr-1 flex @(Model.Page > 1 ? "text-gray-400 hover:text-black" : "text-gray-100 pointer-events-none")">
            <svg width="10px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
            </svg>
            <div class="ml-1 self-center">Prev</div>
        </a>

        &middot;
        Page @Model.Page of @Model.MaxPage
        &middot;

        <a href="@Url.Action("Index", "News", new { page = Model.Page < Model.MaxPage ? Model.Page + 1 : Model.MaxPage, search = Model.Search, view = Model.SelectedView?.ID })" class="ml-1 flex @(Model.Page < Model.MaxPage ? "text-gray-400 hover:text-black" : "text-gray-100 pointer-events-none")">

            <div class="mr-1 self-center">Next</div>
            <svg width="10px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
            </svg>
        </a>

        <!--
        @Model.NewsGroupCount Results
        &middot;
        Page @Model.Page of @Model.MaxPage
        -->
    </div>
</div>

<div class="px-10 pt-10">
    @foreach (NewsGroup newsGroup in Model.NewsGroups)
    {
        <!-- News Group -->
        <div class="shadow-md rounded bg-white bg-opacity-80 p-8 pb-1 @(newsGroup.VoteRequests.Where(vr => vr.OwnerID.Equals(Model.OwnerId) && !vr.Completed).Any() ? "show-vote-tracker" : "")" id="@newsGroup.ID">

            <!-- Voting  -->
            <div class="relative news-group-vote-tracker">
                <div class="absolute w-full flex-col">
                    <div>
                        <h5 class="text-2xl font-bold text-purple-900">
                            Is this group of articles
                            <span class="border-purple-300 border-b-4">relevant</span>
                            for you or others?
                        </h5>
                    </div>
                    <div class="flex mt-4">
                        <div class="mr-10 text-xl flex items-center cursor-pointer text-purple-400 hover:text-purple-900" onclick="user_voted(@newsGroup.ID, true)">
                            <span class="mr-3 text-3xl">Yes</span>
                            <svg width="2.25em" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="vote-yea" class="svg-inline--fa fa-vote-yea fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path fill="currentColor" d="M608 320h-64v64h22.4c5.3 0 9.6 3.6 9.6 8v16c0 4.4-4.3 8-9.6 8H73.6c-5.3 0-9.6-3.6-9.6-8v-16c0-4.4 4.3-8 9.6-8H96v-64H32c-17.7 0-32 14.3-32 32v96c0 17.7 14.3 32 32 32h576c17.7 0 32-14.3 32-32v-96c0-17.7-14.3-32-32-32zm-96 64V64.3c0-17.9-14.5-32.3-32.3-32.3H160.4C142.5 32 128 46.5 128 64.3V384h384zM211.2 202l25.5-25.3c4.2-4.2 11-4.2 15.2.1l41.3 41.6 95.2-94.4c4.2-4.2 11-4.2 15.2.1l25.3 25.5c4.2 4.2 4.2 11-.1 15.2L300.5 292c-4.2 4.2-11 4.2-15.2-.1l-74.1-74.7c-4.3-4.2-4.2-11 0-15.2z"></path>
                            </svg>
                        </div>
                        <div class="mr-10 text-xl flex items-center cursor-pointer text-purple-400 hover:text-purple-900" onclick="user_voted(@newsGroup.ID, false)">
                            <span class="mr-3 text-3xl">No</span>
                            <svg width="2.25em" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="vote-nay" class="svg-inline--fa fa-vote-nay fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path fill="currentColor" d="M393.5 153.8l-11.3-11.3c-1.6-1.6-3.6-2.3-5.7-2.3s-4.1.8-5.7 2.3L320 193.4l-50.9-50.9c-1.6-1.6-3.6-2.3-5.7-2.3s-4.1.8-5.7 2.3l-11.3 11.3c-3.1 3.1-3.1 8.2 0 11.3l50.9 50.9-50.9 50.9c-3.1 3.1-3.1 8.2 0 11.3l11.3 11.3c1.6 1.6 3.6 2.3 5.7 2.3s4.1-.8 5.7-2.3l50.9-50.9 50.9 50.9c1.6 1.6 3.6 2.3 5.7 2.3s4.1-.8 5.7-2.3l11.3-11.3c3.1-3.1 3.1-8.2 0-11.3l-51-50.9 50.9-50.9c3.2-3.1 3.2-8.2 0-11.3zM608 288h-64V62.5c0-16.8-14.3-30.5-32-30.5H128c-17.7 0-32 13.7-32 30.5V288H32c-17.7 0-32 14.3-32 32v128c0 17.7 14.3 32 32 32h576c17.7 0 32-14.3 32-32V320c0-17.7-14.3-32-32-32zM128 64h384v304H128V64zm480 384H32V320h64v48H73.6c-5.3 0-9.6 3.6-9.6 8v16c0 4.4 4.3 8 9.6 8h492.8c5.3 0 9.6-3.6 9.6-8v-16c0-4.4-4.3-8-9.6-8H544v-48h64v128z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="font-bold text-base">
                            <a href="@newsGroup.News.First().Link" class="text-gray-500 hover:text-black" target=":_blank">
                                @newsGroup.News.First().Headline
                            </a>
                        </h3>
                        <h3 class="text-base">
                            @foreach (News news in newsGroup.News.Skip(1))
                            {
                                <a href="@news.Link" class="text-gray-500 hover:text-black" target=":_blank">
                                    @news.Headline
                                </a>
                            }
                        </h3>
                    </div>
                </div>
            </div>

            <div class="news-group-content">
                <!-- News -->
                <div class="mb-4">
                    <div class="flex flex-col sm:flex-row">
                        <span>
                            <a class="trackout-link" href="@Url.Action("Trackout", "News", new { newsGroupId = newsGroup.ID, link = newsGroup.News.First().Link })" target=":_blank" onclick="@(newsGroup.VoteRequests.Where(vr => vr.OwnerID.Equals(Model.OwnerId)).Any() ? "" : "user_followed_link(" + newsGroup.ID + ")")">
                                <span class="font-bold text-2xl">
                                    @newsGroup.News.First().Headline
                                </span>
                            </a>
                            <span class="text-xs whitespace-nowrap">
                                <a href="@newsGroup.News.First().Source.Homepage" class="link" target=":_blank">
                                    via @newsGroup.News.First().Source.Name
                                </a>
                            </span>
                        </span>
                        <a href="@Url.Action("Details", "News", new { newsGroupId = newsGroup.ID })" class="text-gray-400 hover:text-black w-36 flex sm:ml-auto sm:justify-end text-sm">
                            <div class="mr-1 self-center">View as Story</div>
                            <svg width="10px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
                            </svg>
                        </a>
                    </div>
                    <hr class="mt-2 mb-2">
                    @newsGroup.News.First().Summary
                    <br>
                    @if (newsGroup.News.First().LowLevelTags.Any())
                    {
                        <span class="text-xs text-gray-500">Tags</span>
                    }
                    <br>
                    @foreach (LowLevelTag lowLevelTag in newsGroup.News.First().LowLevelTags)
                    {
                        <span class="low-level-tag">
                            @lowLevelTag.Name
                        </span>
                    }
                </div>

                @if (!newsGroup.VoteRequests.Where(vr => vr.OwnerID.Equals(Model.OwnerId) && !vr.Completed).Any())
                {
                    <!-- Related news -->
                    @if (newsGroup.News.Count() > 1)
                    {
                        <span class="text-xs text-gray-500">Related</span>
                    }

                    @foreach (News news in newsGroup.News.OrderByDescending(n => n.CreatedDate).Skip(1))
                    {
                        <div class="mb-2">
                            <h1 class="flex flex-col sm:flex-row related-left-bar">
                                <div class="flex mt-0.5">
                                    <span class="ml-6 mr-1 mt-0.5 text-xs sm:mt-0 sm:text-base sm:leading-5">
                                        @news.CreatedDate
                                    </span>
                                    <svg class="hidden sm:block h-5" width="10px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
                                    </svg>
                                </div>
                                <span class="ml-6 sm:ml-1 sm:mt-0.5 leading-5">
                                    <span class="font-bold hover:underline cursor-pointer">
                                        <a class="trackout-link" href="@Url.Action("Trackout", "News", new { newsGroupId = newsGroup.ID, link = news.Link })" target=":_blank" onclick="@(newsGroup.VoteRequests.Where(vr => vr.OwnerID.Equals(Model.OwnerId)).Any() ? "" : "user_followed_link(" + newsGroup.ID + ")")">
                                            @news.Headline
                                        </a>
                                    </span>
                                    <span class="text-xs whitespace-nowrap">
                                        <a href="@news.Source.Homepage" target=":_blank" class="link">
                                            via @news.Source.Name
                                        </a>
                                    </span>
                                </span>
                            </h1>
                        </div>
                    }
                }
            </div>

            <div class="flex flex-col mt-4 mb-1">
                <div class="ml-auto text-xs text-right text-gray-500">
                    Last updated: @newsGroup.UpdatedDate
                    &middot;
                    Story started: @newsGroup.CreatedDate
                </div>
            </div>
        </div>
        <br>
    }
</div>

<div class="px-10 pt-10 pb-16 flex">
    <a href="@Url.Action("Index", "News", new { page = Model.Page > 1 ? Model.Page - 1 : 1, search = Model.Search, view = Model.SelectedView?.ID })" class="ml-2 mr-1 flex @(Model.Page > 1 ? "text-gray-400 hover:text-black" : "text-gray-100 pointer-events-none")">
        <svg width="10px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
        </svg>
        <div class="ml-1 self-center">Prev</div>
    </a>

    Page @Model.Page of @Model.MaxPage

    <a href="@Url.Action("Index", "News", new { page = Model.Page < Model.MaxPage ? Model.Page + 1 : Model.MaxPage, search = Model.Search, view = Model.SelectedView?.ID })" class="ml-1 flex @(Model.Page < Model.MaxPage ? "text-gray-400 hover:text-black" : "text-gray-100 pointer-events-none")">

        <div class="mr-1 self-center">Next</div>
        <svg width="10px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
        </svg>
    </a>
</div>

@section Scripts {
    <script type="text/javascript">
        const user_voted = (newsGroupId, vote) => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "@Url.Action("UserVote", "News")", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                newsGroupId: newsGroupId,
                vote: vote
            }));

            const elem = document.getElementById(newsGroupId);

            elem.classList.remove("show-vote-tracker");
        }

        const user_followed_link = (newsGroupId) => {
            const elem = document.getElementById(newsGroupId);

            const links = elem.querySelectorAll(".trackout-link");
            for (const link of links) {
                link.onclick = null;
            }
            
            elem.classList.add("show-vote-tracker");
        }
    </script>
}
