@model ITSecurityNewsMonitor.ViewModels.AdminNewsSourcesViewModel

@{
    ViewData["Title"] = "Manage News Sources";
}

<div class="site-header">
    <h1>@ViewData["Title"]</h1>
    <a href="@Url.Action("Index", "Admin")">
        <span class="">← Back to Admin Overview</span>
    </a>
</div>

<div class="pt-5 px-5 md_px-10 pb-2 text-right">
    <button class="button text-xs">Add Source</button>
</div>

<div class="px-5 md_px-10 table w-full bg-white">
    <div class="grid grid-cols-4">
        <div>
            Name
        </div>
        <div>
            Link
        </div>
        <div>
            Homepage
        </div>
        <div class="text-right">
            Actions
        </div>
    </div>
    @foreach (var source in Model.Sources)
        {
            <div class="grid grid-cols-4">
                <div class="break-all text-xs">@source.Name</div>
                <div class="break-all text-xs">@source.Link</div>
                <div class="break-all text-xs">@source.Homepage</div>
                <div class="text-right">
                    <form asp-action="DeleteSource" class="form-confirm" data-message="Do you reall wish to delete source @source.Name">
                        <input type="hidden" name="ID" value="@source.ID"/>
                        <button type="submit" class="button text-xs">Delete</button>
                    </form>
                </div>
            </div>
        }

    <form asp-action="NewsSources" method="post">
        @Html.AntiForgeryToken()
        <div class="d-flex flex-col">
            <div><label class="text text-gray-500">Name</label></div>
            <div><input name="name" class="rounded border p-1" /></div>

        </div>

        <div class="d-flex flex-col">
            <div><label class="text text-gray-500">Link</label></div>
            <div><input name="Link" class="rounded border p-1" /></div>
        </div>

        <div class="d-flex flex-col">
            <div><label class="text text-gray-500">Homepage</label></div>
            <div><input name="Homepage" class="rounded border p-1" /></div>
        </div>

        <button type="submit">Create</button>
    </form>
</div>

@section Scripts {
}