@model ITSecurityNewsMonitor.ViewModels.AdminSimilarityCheckViewModel

@{
    ViewData["Title"] = "News Similarity Check";
}

<div class="site-header">
    <h1>@ViewData["Title"]</h1>
    <a href="@Url.Action("Index", "Admin")">
        <span class="">← Back to Admin Overview</span>
    </a>
</div>

<div class="px-5 md_px-10 py-5">
    <div class="grid grid-cols-2 rounded border bg-white">
        <div class="flex items-center p-2 col-span-2 text-xs uppercase font-bold text-gray-400 bg-gray-100 border-b">
            Result
        </div>
        <div class="p-2 text-xs border-r">
            @Model.SelectionLeft?.Headline
        </div>
        <div class="p-2 text-xs">
            @Model.SelectionRight?.Headline
        </div>
        <div class="border-t col-span-2 p-2 uppercase font-bold text-xs text-center" id="similarity-score">
            Computing similarity score
        </div>
    </div>
</div>

<div class="px-5 md_px-10 grid md_grid-cols-2 gap-5">
    <!-- Select A -->
        <div class="table bg-white w-full">
            <div class="grid grid-cols-2">
                <span>Title</span>
                <span class="text-right">Action</span>
            </div>
            <div class="flex bg-gray-50">
                <input id="searchTermLeft" class="px-1 border rounded w-full" value='@ViewData["searchTermLeft"]'/>
                <button class="ml-2 px-2 border rounded text-xs" onclick="search()">Search</button>
            </div>
            @foreach (var news in Model.NewsLeft)
            {
                <div class="grid grid-cols-2">
                    <span class="text-xs">@news.Headline</span>
                    <div class="text-right">
                        <button class="button text-xs" onclick="select(@news.ID, 'selectionLeft')">Select</button>
                    </div>
                </div>
            }
        </div>

    <!-- Select B -->
    <div class="table bg-white w-full">
        <div class="grid grid-cols-2">
            <span>Title</span>
            <span class="text-right">Action</span>
        </div>
        <div class="flex bg-gray-50">
            <input id="searchTermRight" class="px-1 border rounded w-full" value='@ViewData["searchTermRight"]'/>
            <button class="ml-2 px-2 border rounded text-xs" onclick="search()">Search</button>
        </div>
        @foreach (var news in Model.NewsRight)
        {
            <div class="grid grid-cols-2">
                <span class="text-xs">@news.Headline</span>
                <div class="text-right">
                    <button class="button text-xs" onclick="select(@news.ID, 'selectionRight')">Select</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        let search = () => {
            const searchTermLeft = document.getElementById("searchTermLeft").value;
            const searchTermRight = document.getElementById("searchTermRight").value;
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('searchTermLeft', searchTermLeft);
            urlParams.set('searchTermRight', searchTermRight);
            window.location.search = urlParams;
        }

        let select = (id, pos) => {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set(pos, id);
            window.location.search = urlParams;
        }

        let pollForScore = () => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "@Url.Action("PollSimilarity", "Admin")", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = () => {
                if (xhr.status == 200) {
                    clearInterval(interval);
                    document.getElementById("similarity-score").innerHTML = "SIMILARITY SCORE: " + xhr.responseText;
                }
            };
            xhr.send(JSON.stringify({
                id: "@Model.JobID"
            }));
        }

        @if(Model.JobID != null)
        {
        @:const interval = setInterval(pollForScore, 5000);
        }
    </script>
}