@model ITSecurityNewsMonitor.ViewModels.AdminIndexViewModel

@{
    ViewData["Title"] = "User Management";
}

<div class="site-header">
    <h1>@ViewData["Title"]</h1>
    <a href="@Url.Action("Index", "Admin")">
        <span class="">← Back to Admin Overview</span>
    </a>
</div>


<div class="p-10 ">
    @foreach (var userRole in Model.UserRoles)
    {
        <div id="@userRole.User.Id" class="grid grid-cols-3 p-2 border rounded bg-white mb-2">
            
            <div>
                <span class="text-muted">
                    Email
                </span>
                <br>
                @userRole.User.Email
            </div>
            <div>
                <span class="text-muted">
                    Role
                </span>
                <br>
                @(userRole.Roles.FirstOrDefault()?.Name ?? "User")
                </div>
            <div>
                <div class="btn-group" role="group">
                    <span class="text-muted">
                        Action
                    </span>
                    <br>
                    <div aria-labelledby="btnGroupDrop1">
                        <button class="button" href="#" onclick="changeRole('@userRole.User.Id')">@(userRole.Roles.FirstOrDefault() == null ? "Make Admin" : "Remove Admin")</button>
                        <button class="button" href="#" onclick="deleteUser('@userRole.User.Id')">Delete user</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        const deleteUser = userId => {
            if (confirm("Do you really wish to delete this user?")) {
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "@Url.Action("DeleteUser", "Admin")", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.addEventListener('readystatechange', function () {
                    if (xhr.status != 200) {
                        alert("Error");
                    } else {
                        window.location.reload();
                    }
                });
                xhr.send(JSON.stringify({
                    userId: userId
                }));
            }
        }

        const changeRole = userId => {
            if (confirm("Do you really wish to change the role of this user?")) {
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "@Url.Action("ChangeRole", "Admin")", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.addEventListener('readystatechange', function () {
                    if (xhr.status != 200) {
                        alert("Error");
                    } else {
                        window.location.reload();
                    }
                });
                xhr.send(JSON.stringify({
                    userId: userId
                }));
            }
        }
    </script>
}